p {
    font-size: 3em; /* adjust the font size as needed */
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    direction: rtl;
    transform: translate(-50%, -50%);
    font-weight: 600;
    margin-bottom: 4em;
  }
  