/*#POL3139:hover, #POL3140:hover, #POL3141:hover, #POL3142:hover,
#POL3143:hover, #POL3144:hover, #POL3145:hover, #POL3146:hover,
#POL3147:hover, #POL3148:hover, #POL3149:hover, #POL3150:hover,
#POL3151:hover, #POL3152:hover, #POL3167:hover, #POL3170:hover {
    fill: blue;
}*/

.icon:hover{
    fill: #f4a66c;
}
.image {
  background-image: url('../../assets/auschwitz-3989466_1920.png');
  height: 33.33vh; /* Set the height to 33.33% of the viewport height */
  background-size: cover; /* Scale the image to cover the entire div */
  background-position: center;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 30%;
}
.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  #map {
    max-width: 100%;
    max-height: 100%;
  }

  .arrow {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
