.image {
    background-image: url('../assets/auschwitz-3989466_1920.png');
    height: 33.33vh; /* Set the height to 33.33% of the viewport height */
    background-size: cover; /* Scale the image to cover the entire div */
    background-position: center;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 30%;
}