<div style="position: relative; background-color: lightgrey;">
<p>
   הסיפורים המובילים
</p>
<div  class="d-flex gap-3 mx-auto">
<div style="text-align: center !important;" *ngFor="let trendingMoStory of getTrendingStories()">
    <img style="object-fit: contain; max-width: 100%" src="{{trendingMoStory.imageSrc}}" />
    <div class="image-description img-fluid">{{ trendingMoStory.desc }}</div>
    <a  class="button pe-4 ps-4 " [routerLink]="getStoryUrl(trendingMoStory)" [queryParams]="">לסיפור המלא</a>
</div>
</div>
</div>